p {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-style: italic;
  /* font-size: 2rem; */
  font-size: xx-large;
}
h1 {
  font-variant: small-caps;
  /* font-variant: inherit; */
  font-weight: lighter;
  color: transparent;
  background-clip: text;
  background-image: url(images/house1.png);
}
.font {
  font: bold 30px italic;
  font-variant: small-caps;
  /* <i class="fa-brands fa-instagram"></i> */
}
.fa-brands {
  color: blueviolet;
  font-size: 30px;
}
ul {
  list-style-image: url(images/house.png);
  list-style-type: disc;
  list-style-position: inside;
  font-variant: small-caps;
  font-style: italic;
  color: blue;
}

th {
  border: 3px solid blue;
  border-spacing: 10px 10px;
  height: 10px;
  padding: 10px;
}
td {
  border: 2px solid salmon;
  padding: 10px;
  /* empty-cells: hide; */
}
table {
  border: 3px solid black;
  /* border-collapse: collapse; */
  border-spacing: 10px 10px;
  empty-cells: hide;
  table-layout: fixed;
  width: 100%;
  text-align: right;
  vertical-align: bottom;
}
th:hover {
  background-color: blue;
}
tr:nth-child(3) {
  background-color: brown;
  overflow: hidden;
  text-overflow: ellipsis;
  empty-cells: hide;
}

/* text */
h4 {
  font-style: italic;
  font-size: x-large;
  text-align: justify;
  color: blue;
  line-height: 100%;
  text-indent: 30px;
  word-spacing: 20px;
  text-align-last: right;
  /* white-space: nowrap; */
  word-wrap: break-word;
}
h6 {
  direction: rtl;
  letter-spacing: 20px;
  text-decoration: underline;
  text-shadow: 2px 2px red;
  text-transform: uppercase;
}

.gri {
  background-color: aqua;
}
.search-icon {
  position: absolute;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 25px;
}
.search-icon input {
  border: 0;
  outline: 0;
}

.grii {
  background-color: darkorchid;
}
.search-img {
  position: absolute;
  border: 1px solid #ccc;
  margin-top: 100px;
  margin-left: 50px;
  padding: 8px 12px;
  border-radius: 25px;
}
.search-img input {
  border: 0;
  outline: 0;
}
.search-img i {
  width: 15px;
}
.griii {
  background-color: chocolate;
}
.search-imgg {
  position: absolute;
  border: 5px solid #ccc;
  margin-left: 15px;
  padding: 8px 12px;
  border-radius: 35px;
}
.search-imgg input {
  width: 150px;
  border: 0;
  outline: 0;
}
.search-imgg i {
  width: 15px;
}
.gr{
  background-color: rgb(7, 26, 196);
}
.search-im {
  position: absolute;
  border: 1px solid #1508ce;
  padding: 8px 12px;
  border-radius: 35px;
}
.search-im input {
  
  width: 150px;
  border: none;
  outline: none;

}
.search-im i {
  width: 15px;
  margin-left: 10px;

}
