div{
  height: 200px;
  width: 200px;
  /* background-image: linear-gradient(red,green,black,yellow,blue,white); */
  /* background-image: radial-gradient(ellipse at 30% 40%, red,black,yellow,blue,green,white); */
  background-image: conic-gradient(from 120deg at 50% 50%, red,green,blue,white,yellow,black);
}

